body{
    background-color: #b6cdf0;
    margin: 0px;
}
.header {
    height: 82px;
    background: url(layout/img/bg-header.png) repeat-x;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}
.main{
    height: 196px;
    background-color: #0087DC;
    margin-top: 50px;
}
#img-follow{
    top: 115px;
    position: absolute;
}

div.github a{
    background:url(layout/img/btn-github.png) top left no-repeat;
    height:68px; 
    text-indent:-9999em; 
    width: 335px;
    display: block;
    float: right;
}
div.github a.btnGit:hover{
    background-position:0px -68px;
}
div.github a.btnGit{ 
    background-position: 0 0; 
    width:337px;
}
div.download a{
    background:url(layout/img/btn-download.png) top left no-repeat;
    height:68px; 
    text-indent:-9999em; 
    width: 308px;
    display: block;
}
div.download a.btndownload:hover{
    background-position:0px -68px;
}
div.download a.btndownload{ 
    background-position: 0 0; 
    width:308px;
}
#button{
    padding-top: 80px;
}
.button{
    width: 350px;
    height: 68px;
}
.float{
    float: left;
}
.right{
    margin-left: 525px;
}
.mg-left{
    margin-left: 87px;
}