<!DOCTYPE html>
<html>
    <head>
        <link href="layout/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet" media="screen"/>
        <link href="layout/bootstrap/docs/assets/css/docs.css" rel="stylesheet" />
        <link href="layout/followback.css" rel="stylesheet" media="screen"/>
        <title>@Followback</title>
    </head>
    <body>
        <div class="header">
            <div class="container">
                <img src="layout/img/logo.png" />
            </div>
        </div>