<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link href="layout/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="layout/bootstrap/docs/assets/css/docs.css" rel="stylesheet"/>
    <link href="layout/followback.css" rel="stylesheet" media="screen"/>
    <link href="layout/img/favicon.ico" rel="SHORTCUT ICON"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.cookie.js"></script>
    <script type="text/javascript">
        (function() {
            var twitter = document.createElement('script'); twitter.type = 'text/javascript'; twitter.async = true;
            twitter.src = "http://platform.twitter.com/anywhere.js?id=" + $.cookie('KEY') + "&v=1";
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(twitter, s);
        })();
    </script>
    <script src="layout/bootstrap/js/bootstrap-button.js"></script>
    <title>Followback</title>
</head>
<body>
<script type="text/javascript">
    twttr.anywhere(function (T) {
        T.linkifyUsers();
        T.hovercards();
    });
</script>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="span3">
                <a href="http://www.followback.com.br"><img id="logo" src="layout/img/logo.png" title="Followback"/></a>
            </div>
            <div class="span2 offset10">
                <a id="pt-br" class="lang" href="index.php?PT"></a>
                <a id="eng" class="lang" href="index.php?ENG"></a>
            </div>
        </div>
    </div>
</div>